*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    background-color: black;
    font-family: 'Manrope';
}

.container{
    width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}